body{
    margin: 0;
    background-color: rgba(65, 104, 104, 0.534);
}

h1{
    text-align:  center;
    font-family: 'Cinzel Decorative', serif;
    color: darkblue;
    font-size: 50px;
    text-shadow: 5px 5px 5px gray;
}

h2{
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    color: darkblue;
    font-size: 40px;
}

/* CONTAINER STYLING */
.container{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 125px 50px 1fr 175px 150px;

    padding: 10px;
    box-sizing: border-box;
}

.container div{
    padding: 10px;
}

.header {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color:rgb(212, 172, 122);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.logo {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:rgb(212, 172, 122);
}

/* LINKS */
.links{
    text-align: center;
    font-size: 30px;
    grid-column-end: span 1;
    grid-row-start: 2;

    color: rgb(43, 42, 42);
    border: 1px dotted black;
    border-radius: 10px;
    text-decoration-line: none;
}
    #one{
        grid-column-start: 1;
    }

    #two{
        grid-column-start: 2;
    }

    #three{
        grid-column-start: 3;
    }

    #four{
        grid-column-start: 4;
    }

    #five{
        grid-column-start: 5;
    }

.main{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color:rgb(212, 172, 122);
    border-radius: 55px;
}

.photos{
    grid-column-start: 4;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color:rgb(212, 172, 122);
    border-radius: 55px;
}

.footer{
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

/* IMAGE STYLING */
.bird_pic {
    width: 200px;
    height: 200px;
    padding: 1px;
}

#dove_logo {
    width: 100px;
    height: 100px;
    filter: invert(100%);
    float: right;
}